.container-randomplanet {
    display: flex;
    width: 100%;
    max-height: 250px;
    background-color: #2f2f2f;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.random-planet-img {
    display: flex;
    background-color: white;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 200px;
}

.container-infoplanet {
    display: flex;
    flex-direction: column;
    padding: 20px 195px;
}

.label-planet {
    display: flex;
    font-size: 24px;
    margin-bottom: 10px;
    color: #00bc8c;
}

.info-planet {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}