.header {
    width: 100%;
}

.nav {
    display: flex;
    font-size: 24px;
    justify-content: space-between;
    align-items: center;
    border: none;
}

.nav-label {
    font-size: 40px;
}

.nav-label-link {
    cursor: pointer;
}

.container-btn {
    display: flex;
}
